.closeMenuButton {
  appearance: none;
  width: 3.5em;
  height: 0.43em;
  position: absolute;
  left: 0.2em;
  top: 1.5em;
  transform: rotate(45deg);
  border: 1px solid white;
  border-radius: 0.3em;
  background-color: #555;
}

.closeMenuButton::after {
  display: inline-block;
  border: 1px solid white;
  border-radius: 0.3em;
  content: "";
  width: 3.5em;
  height: 0.4em;
  background-color: #555;
  position: absolute;
  left: 0;
  top: 1em;
  transform: translateY(-1.1em) translateX(-0.1em) rotate(90deg);
}
