@import "closeMenuButton.css";

.wrapperMenuPage {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: lightblue;
  transform: translateX(-100%);
  transition: all 500ms ease;
}

.openMenu {
  transform: translateX(0%);
}
