.cardsSection {
  border: 1px solid lime;
  text-align: center;
}

.cardWrapper {
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: black;
  margin-bottom: 1rem;
}

.cardImg {
  width: 100%;
  height: auto;
  border-radius: 3.5px 3.5px 0 0;
  margin-bottom: 5px;
}

.cardTitle {
  font-size: 1.15rem;
  font-family: 'Times New Roman', Times, serif;
  border-bottom: 2px solid #777;
}

.cardDes {
  text-align: left;
  font-size: .8rem;
}
