@import "./btnAnimation.css";

.btnWrapper {
  width: 43px;
  height: 43px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 2px solid #fff;
  /* transition: all .5s ease; */
}

.btnLines {
  width: 65%;
  height: 0.3em;
  background-color: brown;
  border-radius: 50%;
  /* transition: all .5s ease; */
}

.btnLines::before {
  content: "";
  display: block;
  background-color: #c68958;
  width: 65%;
  height: 0.4em;
  position: absolute;
  top: 10%;
  border-radius: 5px 5px 2px 2px;
  transition: all .5s ease;
}

.btnLines::after {
  content: "";
  display: block;
  background-color: #c68958;
  width: 65%;
  height: 0.5em;
  position: absolute;
  bottom: 10%;
  border-radius: 2px 2px 5px 5px;
  transition: all .5s ease;
}
