.cardsSection {
  border: 1px solid lime;
}

.cardWrapper {
  display: inline-block;
  width: 45%;
  min-height: 300px;
  border: 2px solid gray;
  border-radius: 5px;
}

.cardImage {
  width: 100%;
  height: auto;
  border-radius: 3px;
  border-bottom: 2px solid gray;
}

.cardTitle {
  margin: 0 0 5px 0;
}

.cardDes {
  margin: 0 0 5px 5px;
  text-align: left;
}
