.logo {
  font-size: 2em;
  margin: 0 0 0 2px;
}

.logoLink {
  text-decoration: none;
}

.logoP1 {
  color: silver;
  font-family: "Times New Roman", Times, serif;
}

.logoP2 {
  display: inline-block;
  color: gold;
  font-size: 1em;
  position: relative;
  left: -.2em;
  font-family: cursive;
}
