.header {
  background-color: black;
  height: 3em;
  color: white;
  border-bottom: 0.125em solid #aaa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .5em;
}
